@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1>Administra tu Cuenta</h1>

<div>
    <h2>Cambiar configuracion de Cuenta</h2>
    <a class="btn btn-outline-primary mb-3" asp-area="" asp-page="/Admin/Index">← Volver al Dashboard</a>

    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
