@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Datos Personales";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>
            Tu cuenta contiene datos personales que has proporcionado. Esta página te permite eliminar esa información.
        </p>
        <p>
            <strong>Eliminar estos datos eliminará permanentemente tu cuenta y no se podrá recuperar.</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Eliminar cuenta</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
