/* Index */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  line-height: 1.6;
  
}

header {
  background-color: #212121;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #e0e0e0;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff4d4d;
}

main {
  padding: 2rem;
}

.team-section {
  text-align: center;
}

.team-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.team-nav {
  margin-bottom: 2rem;
}

.team-nav button {
  background-color: #2c2c2c;
  color: #e0e0e0;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.team-nav button:hover {
  background-color: #ff4d4d;
  color: #121212;
}

.team-member {
  background-color: #2c2c2c;
  border-radius: 10px;
  padding: 1rem;
  display: none;
  max-height: 38rem;
}

.team-member-proyect {
  background-color: #2c2c2c;
  border-radius: 10px;
  padding: 1.5rem;
  display: none;
  padding-bottom: 15rem;

}

#member-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.team-member.active, .active {
  display: block;
}

.team-member img, img {
  max-width: 20rem;
  border-radius: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.team-member-proyect img, img {
  max-width: 10rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.team-member h3, h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.team-member p, p {
  font-size: 1rem;
}

footer {
  background-color: #212121;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  color: #e0e0e0;
}

.team-member-proyect {
  max-height: 38rem;
  min-width: 10rem;
  overflow-y: auto;
  padding: 20px;
}


@media (max-width: 768px) {
  #member-content {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  #member1, .team-member-proyect {
    width: 100%;
    padding: 1rem;
  }

  .team-member img, .team-member-proyect img {
    max-width: 10rem;
  }

  .team-member h3, .team-member-proyect h3 {
    font-size: 1.2rem;
  }

  .team-member p, .team-member-proyect p {
    font-size: 0.9rem;
  }
}


/* Index */

/* Proyectos CSS */

.Container-Proyect {
  background-color: #2c2c2c;
  border-radius: 10px;
  padding: 2rem;
  max-width: 1000px;
  margin: 2rem auto;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #ff4d4d;
  margin-bottom: 1.5rem;
}

.Members-Proyect {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.Members-Proyect img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.Members-Proyect img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgba(255, 77, 77, 0.7);
}

.Proyect-label.enable {
  visibility: visible;
  background-color: #5e5e5e;
  padding: 3px;
  border-radius: 5px;
  margin-top: 1rem;
  display: inline;
}

.Proyect-label {
  background-color: #5e5e5e;
  padding: 3px;
  border-radius: 5px;
  margin-top: 1rem;
  display: none;
}

.Proyect-label.disable {
  display: none;
}


/* Carrusel de Proyectos */
.Content-Arrow-Proyect {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
  z-index: 10;
}

.nav-arrow:hover {
  background-color: rgba(255, 77, 77, 0.8);
}

.nav-arrow.prev {
  left: -50px; /* Ajusta la distancia según tu diseño */
}

.nav-arrow.next {
  right: -50px; /* Ajusta la distancia según tu diseño */
}


.slide {
  display: none;
  text-align: center;
}

.slide.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Proyectos CSS */  

/* Services */

  .Services-Container div {
    background-color: #2c2c2c;
    border-radius: 20px;
    padding: 1rem;
    margin: 2rem;
  }

  .Services-Section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

/* Services */

/* Estilos para el formulario de login */
.login-section {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #2c2c2c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ff4d4d;
}

.form-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-buttons button {
  background-color: #333;
  color: #e0e0e0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-buttons button.active {
  background-color: #ff4d4d;
  color: #121212;
}

.form-buttons button:hover {
  background-color: #ff4d4d;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #444;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #ff4d4d;
  color: #121212;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #e04747;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 10px;
}

/* lOGIN */ 