@page
@model DEVFORGE_TEST_4.Pages.Admin.Projects.IndexModel
@{
    Layout = "_LayoutLogin";
}
<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-page='/Admin/Projects/Create'>Nuevo Proyecto</a>
    </div>
    <div class="col">
    </div>
</div>

<section class="projects-section card">
    <div class="card-header">
        <h2>Proyectos</h2>
        <p class="subtitle">Listado de proyectos en equipo con sus etiquetas</p>
    </div>
    <div class="projects-list-container">
        <div class="projects-list">
            <div class="project-header-row">
                <span>Título</span>
                <span>Descripción</span>
                <span>Etiquetas</span>
                <span>Acciones</span>
            </div>

            @foreach (var project in Model.Projects)
            {
                <div class="project-row">
                    <div class="project-company" data-label="Título">
                        @project.Title
                    </div>
                    <div class="project-budget" data-label="Descripción">
                        @project.Description
                    </div>
                    <div class="project-members" data-label="Etiquetas">
                        <ul>
                            @foreach (var tag in project.ProjectTags.Select(pt => pt.Tag))
                            {
                                <li>@tag.Name</li>
                            }
                        </ul>
                    </div>
                    <div class="project-completion" data-label="Acciones">
                        <a class="btn btn-primary btn-sm" href="/Admin/Projects/Edit?id=@project.Id">Editar</a>
                        <a class="btn btn-danger btn-sm" href="/Admin/Projects/Delete?id=@project.Id">Eliminar</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
